html, body, #root, .App {
  height: 100%;
  font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
  font-size: 13px;
}

body, .App {
    height: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.layout-menu {
  width: 250px;
  background: #2A3F54;
}

.layout-menu a {
  color: #E7E7E7;
}

.layout-content {
  flex: 1;
  background: #111;
  color: white;
}
