[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
python-daemon = "*"
lockfile = "*"
argparse = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
